# To enable / disable self-hosting features.
SELF_HOSTED=true

BUILD_COMMIT_SHA=

ALPHA_VANTAGE_API_KEY=
FINNHUB_API_KEY=

PRICE_PROVIDER_STOCKS=
PRICE_PROVIDER_CRYPTO=

DISABLE_HISTORICAL_PRICES=true

SECRET_KEY_BASE=
DATABASE_URL=